ThedakkidaikkathavalBot/config.py
ThedakkidaikkathavalBot/*.session
ThedakkidaikkathavalBot/*.session-journal
ThedakkidaikkathavalBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ThedakkidaikkathavalBot/modules/helper_funcs/temp.txt
ThedakkidaikkathavalBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
ThedakkidaikkathavalBot.session-journal
updates.txt
*.exe
